.main-container {
  background-image: url(/assets/programming.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  height: 100dvh;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

h1.main-header,
h2.main-header {
  font-family: var(--header-font);
  color: var(--primary-color);
  font-weight: 100;
  font-size: 2.7rem;
}

/* Styly pro tablety na výšku */
@media (min-width: 768px) and (max-width: 1024px) {

  h1.main-header,
  h2.main-header {
    font-size: 4rem;
  }
}

/* Styly pro desktop */
@media (min-width: 1025px) {
  .main-container {
    height: 85dvh;
    min-height: auto;

  }

  h1.main-header,
  h2.main-header {
    font-size: 6rem;
  }
}
