.main-container {
  background-image: url(/assets/programming.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  height: 100dvh;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Styly pro desktop */
@media (min-width: 1025px) {
  .main-container {
    height: 85dvh;
    min-height: auto;

  }
}
