.header {
  display: flex;
  border-bottom: 1px solid var(--primary-color);
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}

/* .header-title {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
} */

/* h1 {
  color: var(--primary-color);
  font-size: 6rem;
  font-family: var(--header-font);
  margin: 0;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.4);
} */

.header img {
  width: 4rem;
  height: auto;
  object-fit: contain;
}

.header-nav {
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-link {
  text-decoration: none;
}

.nav-link:link,
.nav-link:visited {
  color: var(--secondary-color);
  text-decoration: none;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: var(--accent-color);
  cursor: pointer;
}
