.header {
  display: flex;
  border-bottom: 1px solid var(--primary-color);
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}

/* .header-title {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
} */

/* h1 {
  color: var(--primary-color);
  font-size: 6rem;
  font-family: var(--header-font);
  margin: 0;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.4);
} */

.header img {
  width: 4rem;
  height: auto;
  object-fit: contain;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  height: 30px;
  margin: 20px;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: var(--primary-color);
  margin: 3px 0;
  transition: background-color 0.3s;
}

.header-nav {
  display: inline-block;
  width: 30vw;
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.nav-link {
  text-decoration: none;
}

.nav-link:link,
.nav-link:visited {
  color: var(--secondary-color);
  text-decoration: none;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: var(--accent-color);
  cursor: pointer;
}
