 .header {
   display: flex;
   border-bottom: 1px solid var(--accent-color);
   justify-content: space-between;
   align-items: center;
   padding-bottom: 8px;
 }


 .header img {
   width: 4rem;
   height: auto;
   object-fit: contain;
   border-radius: 15px;
 }

 .header img:hover {
   filter: drop-shadow(1px 1px 2px var(--accent-color));
   cursor: pointer;
 }


 .hamburger {
   background: none;
   border: none;
   font: inherit;
   color: inherit;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 40px;
   height: 30px;
 }

 .hamburger:hover {
   box-shadow: 1px 1px 2px var(--accent-color);
   border-radius: 5px;
 }

 .bar {
   height: 5px;
   width: 100%;
   background-color: var(--primary-color);
   margin: 3px 0;
   transition: background-color 0.3s;
 }

 .header-nav {
   position: fixed;
   top: 0;
   right: 0;
   width: 50vw;
   height: 100vh;
   background: black;
   color: var(--accent-color);
   font-size: 1.5rem;
   box-shadow: 0 0 10px var(--accent-color);
   z-index: 1;
 }

 li {
   list-style-type: none;
   font-size: 3rem;
 }

 .nav-link {
   text-decoration-color: var(--accent-color);
   font-size: 1.3rem;
   font-weight: 100;
 }

 .nav-link:link,
 .nav-link:visited {
   color: var(--primary-color);
   text-decoration: none;
 }

 .nav-link:hover,
 .nav-link:active,
 .nav-link:focus {
   cursor: pointer;
   text-shadow: 1px 1px 2px var(--accent-color),
     1px 1px 2px var(--accent-color),
     1px 1px 2px var(--accent-color);
 }

 /* Styly pro tablety na výšku */
 @media (min-width: 550px) and (max-width: 750px) {

   .hamburger {
     width: 50px;
     height: 40px;
   }

   .bar {
     border-radius: 5px;
   }

   .header-nav {
     width: 30vw;
   }

   .nav-link {
     font-family: var(--header-font);
     font-size: 2rem;
     font-weight: 300;
   }
 }

 /* Styly pro desktop */
 @media (min-width: 751px) {
   .header {
     border-bottom: 1px solid var(--secondary-color);
   }

   .header img:hover {
     filter: drop-shadow(2px 2px 3px var(--accent-color));
   }

   .hamburger {
     display: none;
   }

   .header-nav {
     position: static;
     width: 40dvw;
     height: 8vh;
     box-shadow: none;
     background: transparent;
   }

   ul {

     margin: 0;
     padding: 0;
     text-align: center;
     display: flex;
     justify-content: flex-end;
   }

   li {
     list-style-type: none;
     display: inline-block;
     text-align: center;
     margin: 0;
     padding: 0 2vw;
     line-height: 1;

   }

   .nav-link {
     font-size: 1.6rem;
     font-weight: 100;
   }
 }
