.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
  border-top: 1px solid var(--primary-color);
}

.footer-title {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.15rem;
  z-index: 1;
  color: var(--secondary-color);
}

a {
  cursor: pointer;
  font-size: 0.8rem;
}

.footer-link:link,
.footer-link:visited {
  color: var(--secondary-color);
  text-decoration: none;
}

.footer-link:hover,
.footer-link:active,
.footer-link:focus {
  color: var(--accent-color);
  cursor: pointer;
}
