@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Great+Vibes&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --background-color: #121212;
  --primary-color: #62e2d5;
  --secondary-color: #2C666E;
  --text-color: #F5F5F5;
  --accent-color: #FCEEC0;
  --header-font: "Montserrat";
}

html {
  font-family: 'Open Sans', sans-serif;
  background-image: url(assets/programming.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: black;
}

.container {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
