@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Great+Vibes&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --background-color: #000000;
  --primary-color: #62e2d5;
  --secondary-color: #2C666E;
  --text-color: #FCEEC0;
  --accent-color: #FCEEC0;
  --header-font: "Montserrat";
}

html {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
  color: #fbfdff;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-weight: 300;
  color: var(--secondary-color);
  font-size: 2rem;
}
